/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


main{
  display: flex;
  gap: 8em;
  margin-top:6rem;
  position: relative;  
}


.left-col{

  margin-top: 10rem;
  /* display: grid; */
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  text-align: left;

  /* background-color: red; */
  padding-left: 5rem;


}
.left-col h1{
    font-family: 'Poppins', sans-serif;
    text-align:left;
    font-size:41px;
    font-weight: bold;
  
}

@media (max-width: 999px) {
    .left-col{
      margin-top: 3rem;


    }
} 
.left-col p{

  font-family: 'Poppins', sans-serif;

  text-align:left;
  font-size:17px;


}
.cta-btns {

  
  
}
.primary-cta{
  background-color: #A51910;
  font-size: 1.2em;
  color: white;
  text-decoration: none;
  border-radius: 1.9em;
  padding: 0.5em ;
} 
.rigt-col{
  margin-top: 4rem;
  margin-right:5rem;
}




