
header{

  display: flex;
  /* gap: 18rem; */
  margin-top: -6rem;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-bottom: -1rem;

  width: 100%;
  height: 5rem;
  margin-left: -1rem;
  border-bottom-right-radius: 4rem;
  position: fixed;
  z-index: 9999;
}
.headerLogo img{
  align-self: center;

}
.defaultNav ul  {
  display: flex;
  gap:2rem;
  margin-right: 2rem;
  /* justify-content: space-between; */
  align-items: center;
  
}
li{
  list-style:  none;
}

.defaultNav ul li a{
  text-decoration: none;
  color:black;
  text-transform: uppercase;
  font-size: 13px;
}
.defaultNav ul li a.active:before {
  position: absolute;
  content: "";
  width: 35%;
  height: 1%;
  border-bottom: 2px solid black;
  bottom: -6px;
}
.search-bar {
  display: flex;
  /* gap:1rem; */
  /* align-items: center; */
}

.search-input {
  background-color: transparent;
  border: none;
  color: #000000; 
  padding: 9px;
  border-radius: 50px;
  margin-top: -0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  outline: none;
  caret-color: rgb(87, 79, 79);
  transition: background-color 0.4s;
}
.search-input:hover{
  background-color: rgba(0, 0, 0, 0.05);
} 
.search-bu {
  background-color: rgba(0, 0, 0, 0.02);
  border: none;
  scale: 1;
  transform: scale 1.5s;
}
.search-bu:hover{
  scale: 1.2;
}

.dropdownlist{
  scale: 1.5;
}
@media (max-width: 985px) {
  .defaultNav {
    display: none;
  }
}
@media (min-width: 985px) {
  .dropdownlist,.all2 {
    display: none;
    
  }
}
.dropNav{
  display: grid;


  /* margin-top: 25rem; */
  /* height: 20rem; */
  /* width: 20rem; */
  /* background-color: aqua; */
  justify-content: end;
  align-items: center;
}


