header {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.2rem);
  z-index: 9999;
}

header:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.background {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.product-title{
  font-size: 1.6rem;
  text-align: left;
  margin-left: 1rem;
  margin-top: 13rem;
  font-weight: bold;

}
.product-price{
  font-size: 1.6rem;
  text-align: left;
  margin-left: 1rem;
  margin-top: -1rem; 
  font-weight: bold;
  color: #A51910;
}
.product-card {
  overflow: hidden;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  translate:0;
  border-radius: 27px;
  /* padding: 10px; */
  width: 216px;
  height: 317px;
  margin: 0;
  transition: translate 1s;
  display: grid;
}

.product-image {
  width: 100%;
  height: 200px;
  margin-bottom: -15rem;
  margin-top: -10px;
  border-radius:27px ;
  position: relative;
  transition: transform 0.3s ease;

}

.product-card:hover .product-image{
  transform: scale(1.05); /* Increase the scale value for a stronger zoom effect */

  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */

  /* margin: -5px; */
  /* translate: 3px; */

}
.all_products{
  display: grid;
  margin-right: 2rem;

}
.products_tttle{
  font-size: 2.2rem;
  text-align: left;
  margin-left: 19rem;
  margin-top: 1rem;
  text-underline-offset: #A51910;
  /* marg */
  }
.products_tttle_underline{
  margin-left: 23rem;

}
.search_tttle_underline{
  margin-left: 21rem;

}
.products{
  margin-left:19rem;
  margin-top: 100px;

  width: 65rem;
  height: 70rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 22rem; /* Set the desired height of each row */
  gap: rem;
}
.cart-icon{
  width:30px;
}
.add-to-cart-button {
  background-color: #A51910;
  /* color: white; */
  border: none;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  cursor: pointer;
  border-radius: 50%; /* Make the button circular */
  transition: background-color 0.3s;
  margin-top: -3rem;
  margin-left: 8rem;
  width :30%;
  height: 5%;
  /* size: 10%; */
}


.add-to-cart-button:hover {
  background-color: #5c110b;
}



/* bootstrap  */
.mybtn{
  margin-top: -8rem;
  margin-left: 10.1rem;
  border-radius: 10rem;

}

.btn.btn-primary{
  background-color:  #A51910;
  /* border-radius: 20rem; */
  border-radius: 1rem;

  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  border: none;  
}
.btn.btn-primary:hover{
  background-color:  #7f130c;

}
.sidebar {
  position: fixed;
  background-color: #f2f2f2;
  width: 175px;
  padding: 30px;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;

  margin-top: 5rem;

  /* column-gap: 20px; */


  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  height: 28rem;
  transition: box-shadow 0.2s;
}
.sidebar:hover{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);


}
.sidebar ul {
  text-align: left;
  display: grid;
  grid-gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  margin-bottom: 5px;
}

.sidebar ul li a:hover{
  color:#A51910
}

.sidebar a {
  text-decoration: none;
  color: #333;
}
.productsMain{
  display: flex;
  gap: 0px;

}
.sidebar h1 {
  /* margin-right: rem; */
  font-size:1rem ;
  font-weight: bold;
}
.sidebar ul li img {
  margin-left: 0.2rem;
  scale: 0.7;
  margin-top: -2.5rem;
  
}